:root {
    --background-color-light: #ffffff;
    --text-color-light: #333333;
    --background-color-dark: #333333;
    --text-color-dark: #ffffff;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

/* Default to system preference */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }
}

/* Override system preference if user toggles */
body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

.dark-mode a {
    color: lightblue;
}

.dark-mode-toggle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.4rem;
    cursor: pointer;
    border: none;
}

.firm-acronym {
    letter-spacing: 0.45rem;
    font-size: 3em;
    font-weight: 460;
    margin-bottom: 0;
}

.dark-mode .firm-acronym {
    color: lightgreen;
}

.light-mode .firm-acronym {
    color: green;
}

.firm-name {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 0;
}

.firm-name .break {
    display: inline;
}

/* On small screens, apply a line break */
@media (max-width: 600px) {
    .firm-name {
        margin-top: 0.5rem;
        text-align: center;
        line-height: 3rem;
    }
    .firm-name .break {
        display: block;
    }
}

.dark-mode .firm-name {
    color: greenyellow;
}

.light-mode .firm-name {
    color: #2bad2b;
}

main section {
    margin-top: 2rem;;
    margin-bottom: 4rem;
}

.actor-avatar {
    max-width: 40px;
    margin-right: 2rem;
    float: left;
    border-radius: 50%;
}

img.actor-header {
    width: 100%;
    max-height: 20vh;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 2rem;
}

.actor-summary {
    font-size: 20px;
}

footer {
    border-top: 1px solid #ddd;
    padding-top: 0.5rem;
}

.footer-separator {
    padding-left: 1rem;
    padding-right: 1rem;
}

.repo-link img {
    height: 1em; /* Make the SVG height equal to the font size */
    width: auto; /* Maintain aspect ratio */
    line-height: inherit; /* Inherit the line-height from the parent element */
    vertical-align: text-top; /* Adjust the alignment to the text */
    margin-top: 2px;
    margin-left: 0.5rem;
}

.light-mode .repo-link img {
    content: url("/static/images/github-mark/github-mark.svg");
}

.admonition {
    width: 80%;
    padding: 1rem;
    /* border-left: 4px solid #9b4dca; */
    /* Adjust color to suit the note's context */
    background-color: #f4f4f4;
    /* Light background to distinguish it */
    margin-bottom: 1.5rem;
    /* Spacing below the admonition */
    border-radius: 4px;
    /* Slight rounding of corners */
}

@media (max-width: 600px) {
    .admonition {
        width: 100%;
    }
}

.dark-mode .admonition {
    background-color: rgb(93, 92, 92);
    /* Dark background to distinguish it */
}

.admonition h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.dark-mode .admonition h4 {
    color: pink;

}

.light-mode .admonition h4 {
    color: red;
}

.admonition p {
    margin-bottom: 0;
    font-weight: 400;
}
