{% extends "layout.jinja2" %}

{% block style %}
<style>
@media (max-width: 600px) {
    main section {
        text-align: center;
    }
}
</style>
{% endblock %}

{% block header %}
<h1 class="firm-acronym">FIRM</h1>
<div class="firm-name">Federated Information <span class="break"></span>Resource Manager</div>
{% endblock %}

{% block main %}
<section>
    <p>A flexible server platform for experimenting with the social web. A work-in-progress.</p>
    <blockquote>
        <p>It's not SoLiD, but it's FIRM.</p>
    </blockquote>
</section>
<div class="admonition">
    <h4>Note!</h4>
    <p>This is very early work-in-progress, so expect bugs and breaking changes.</p>
</div>
{% endblock %}
